server:
  port: 8086

spring:
  application:
    name: mcp-client

  datasource:
    url: jdbc:mysql://localhost:3306/mcp?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
      schema-locations: classpath:schema.sql

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: false

# gRPC 配置
grpc:
  server:
    port: 9090

# 日志配置
logging:
  level:
    root: INFO
    com.mcp.client: INFO
    org.springframework.web: WARN
    org.springframework.web.servlet.DispatcherServlet: WARN
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql.BasicBinder: WARN